# System properties
.DS_Store

# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.venv
venv/
env/

# Jupyter Notebooks
.ipynb_checkpoints

# IDE Settings
.idea/
.vscode/

# Environment Variables
.env

# FHIR Implementation Guides (Generated Content)
# Note: Be cautious with *.json if you have source JSON files.
*.json
*.xml
*.html

# Specific generated folders
fsh-generated/*

# Environment Variables
.env

# FHIR Implementation Guides (Generated Content)    
.fhir-packages


tmp/